.comment-card {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 12px 10px 12px;
    border-bottom: 1px solid #0001;
}

.comment-card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 5px;
}

.content {
    margin-bottom: 10px;
}

.details {
    width: 70%;
}

.user-name {
    display: inline;
    font-size: 1rem;
}

.details-other {
    display: flex;
}

.details-other span {
    font-size: .8rem;
    margin-right: 10px;
    color: #666;
}

.like {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dis{
    color: #ccc;
    font-size: 1.6rem;
}

.liked {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #f00;
    font-size: 1.6rem;

}