.back-btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.back-btn span {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 100ms;
}
.back-btn span:hover{
    background-color: #0005;
    border-radius: 5px;
}

.comments{
    width: var(--shorts-player-width);
    height: 290px;
    background: #eff;
    position: absolute;
    z-index: 10;
    margin-bottom: 25px;
    bottom: 15px;
}

.comment-box{
    max-width: var(--shorts-player-width);
    height: 100%;
    padding: 12px;
    padding-bottom: 30px;
    overflow-y: scroll;
    
}
.comment-box::-webkit-scrollbar{
    display: none;
}

.newComment{
    width: 100%;
    display: flex;
    align-items: flex-end;
    align-items: center;
    position: absolute;
    z-index: 20;
    bottom: -40px;
    background:#eff;
    padding: 5px 12px;

}
.newComment img{
    width: 40px;
    height: 40px;
    object-fit: fill;
    border-radius: 50%;
}

.input{
    width: 80%;
    padding:5px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1rem;
}
.input:focus{
    /* border: none; */
    outline: none;
}
.input:empty::before{
    content: "type something";
    color: #888;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    background:#fff;
    font-weight: 900;
    color: #ccc;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}