.bc1{
    position: fixed;
    width: 100vw;
    height: 98vh;
    top: 0;
    left: 0;
    background-color:transparent;
    /* background: #000; */
    cursor:initial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bc2{
    position: fixed;
    width: 100vw;
    height: 98vh;
    top: 0;
    left: 0;
    cursor:initial;
    z-index: 100;
    background-color: #0003;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(1px);
}

.btnClose {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 100ms;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #333;
    text-shadow: 0 0 5px #0003;
}
.btnClose:hover{
    color: rgba(232, 34, 34, 0.977);
}
.btnClose span {
    font-size: 2rem;
}