.btn {
    padding: 5px ;
    border-radius: 5px;
    /* border: none; */
    font-size: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.disable{
    background-color: #00808077;
    color: #f2f2f2;
}

.btn:active{
    transform: scale(1.01);
}